@import '../../../themes/vars.less';
.statistic-grid-box {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  :global {
    .ant-card {
      .ant-card-body {
        padding: 12px 24px;
      }
      &.split {
        .ant-card-body {
          flex-direction: column;
        }
      }
    }
  }
}
