@import '../../themes/vars.less';
.kanban-box {
  height: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
  :global {
    .ps__rail-y,
    .ps__rail-x {
      z-index: 100;
    }
    .portal-body {
      height: 100%;
      padding: 0;
      overflow: hidden;
      position: relative;
      background-color: @page-background-color;
      .portal-box {
        height: 100% !important;
        background-color: @page-background-color;
        .suid-portal-panel {
          background-color: transparent;
        }
        .suid-panel .panel-header {
          background-color: @white;
        }
      }
      &.darkgrey {
        color: #999;
        background-color: fade(@black, 85%);
        .suid-panel {
          background-color: fade(#151619, 45%);
          &.panel-bordered {
            border-color: #2c2b2e;
          }
          &.panel-full-screen {
            background-color: #151619;
          }
          .panel-header {
            background-color: fade(#12141b, 80%);
            color: #999;
            .suid-drag-handler,
            .toolbox .tool-item {
              color: #555;
              &:hover {
                color: #1890ff;
                background-color: rgba(255, 255, 255, 0.05);
              }
              &.remove:hover {
                color: #ff4d4f;
                background-color: rgba(255, 77, 79, 0.05);
              }
            }
          }
          .panel-body {
            border-top-color: transparent;
            background-color: transparent;
          }
        }
        .react-draggable-dragging {
          .suid-panel {
            background-color: #151619;
          }
        }
      }
      &.darkblue {
        color: #999;
        background-color: fade(#061f59, 85%);
        .suid-panel {
          background-color: transparent;
          &.panel-bordered {
            border-color: #233e64;
          }
          &.panel-full-screen {
            background-color: #061f59;
          }
          .panel-header {
            background-color: fade(@white, 1%);
            color: #75a7dc;
            .suid-drag-handler,
            .toolbox .tool-item {
              color: #4377ad;
              &:hover {
                color: #1890ff;
                background-color: rgba(255, 255, 255, 0.05);
              }
              &.remove:hover {
                color: #ff4d4f;
                background-color: rgba(255, 77, 79, 0.05);
              }
            }
          }
          .panel-body {
            border-top-color: transparent;
            background-color: transparent;
          }
        }
        .react-draggable-dragging {
          .suid-panel {
            background-color: #061f59;
          }
        }
      }
    }
  }
}
